@media screen and (max-width: 400px) {
  h2 {
    top: 9rem;
    font-weight: 400;
  }

  .sabbath {
    width: 9rem;
    top: 13rem;
    left: -1rem;
  }

  .nirvana {
    width: 9rem;
    top: 13.5rem;
    left: 10.5rem;
  }
}
