@media screen and (max-width: 400px) {
  .saudacao {
    top: 6rem;
    left: 2rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    top: 8rem;
    font-weight: 500;
  }

  .sabbath {
    width: 9rem;
    top: 12rem;
    left: -6rem;
  }

  .nirvana {
    width: 9rem;
    top: 12.5rem;
    left: 8.5rem;
  }
}
