@media (max-width: 414px) {
  .saudacao {
    top: 8rem;
    left: 1.5rem;
  }

  h2 {
    top: 13rem;
    font-weight: 500;
  }

  .sabbath {
    width: 8.5rem;
    top: 17rem;
    left: 2rem;
  }

  .nirvana {
    width: 8.5rem;
    top: 24.5rem;
    left: 2rem;
  }
}
