* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#030008),
    to(#00131a)
  );
  overflow-x: hidden;
}

h1 {
  position: absolute;
  top: 2rem;
  left: 50%;
  color: #fff;
  margin-right: -50%;
  font-size: 1.7rem;
  font-weight: 500;
  transform: translate(-50%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  position: absolute;
  top: 3.2rem;
  font-family: sans-serif;
  font-size: 3rem;
  color: rgba(225, 225, 225, 0.01);
  background-image: url(https://us.123rf.com/450wm/dmitrydesigner/dmitrydesigner1508/dmitrydesigner150800039/44226275-seamless-background-consisting-of-the-symbols-of-musical-notes-in-vector-isolated-over-white.jpg?ver=6);
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 50s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.saudacao {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 500;
  top: 10rem;
  left: 3.5rem;
}

h2 {
  position: absolute;
  font-weight: 400;
  top: 14rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.sabbath {
  position: absolute;
  width: 10rem;
  top: 20rem;
  left: 3.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sabbath:hover {
  transform: scale(1.03);
}

.bowie {
  position: absolute;
  width: 10rem;
  top: 20rem;
  left: 16rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bowie:hover {
  transform: scale(1.03);
}

.nirvana {
  position: absolute;
  width: 10rem;
  top: 20.5rem;
  left: 28rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.nirvana:hover {
  transform: scale(1.03);
}
