* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#030008),
    to(#00131a)
  );
  overflow-x: hidden;
}

h1 {
  position: absolute;
  top: 3.3rem;
  left: 50%;
  color: #fff;
  margin-right: -50%;
  font-size: 1.7rem;
  font-weight: 500;
  transform: translate(-50%);
}

.saudacao {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 500;
  top: 10rem;
  left: 3.5rem;
}

h2 {
  position: absolute;
  font-weight: 400;
  top: 14rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.sabbath {
  position: absolute;
  width: 10rem;
  top: 18rem;
  left: 3.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sabbath:hover {
  transform: scale(1.03);
}

.nirvana {
  position: absolute;
  width: 10rem;
  top: 18.5rem;
  left: 16rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.nirvana:hover {
  transform: scale(1.03);
}

@media (max-width: 414px) {
  .saudacao {
    top: 8rem;
    left: 2rem;
  }

  h2 {
    top: 13rem;
    font-weight: 500;
  }

  .bandas {
    margin-top: 20rem;
  }

  .sabbath {
    width: 6rem;
  }

  .nirvana {
    width: 6rem;
  }
}
