* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #030008, #00131a);
  overflow-x: hidden;
}

h1 {
  position: absolute;
  top: 3.3rem;
  left: 50%;
  color: #fff;
  margin-right: -50%;
  font-size: 1.7rem;
  font-weight: 500;
  transform: translate(-50%);
}

.saudacao {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 500;
  top: 10rem;
  left: 3.5rem;
}

h2 {
  position: absolute;
  font-weight: 400;
  top: 14rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.bandas {
  margin-top: 19rem;
  display: grid;
  /* define the number of grid columns */
  grid-template-columns: repeat(auto-fit, minmax(414px, 2fr));
}

.bandas .sabbath {
  width: 10rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bandas .sabbath:hover {
  transform: scale(1.03);
}

.bandas .nirvana {
  width: 10rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bandas .nirvana:hover {
  transform: scale(1.03);
}

@media (max-width: 414px) {
  .saudacao {
    top: 7rem;
    left: 2rem;
  }

  h2 {
    top: 12rem;
    font-weight: 500;
  }

  .bandas {
    margin-left: 2.5rem;
  }

  .sabbath {
    width: 7rem;
  }

  .nirvana {
    width: 7rem;
  }
}
