* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#030008),
    to(#00131a)
  );
  overflow-x: hidden;
}

h1 {
  position: absolute;
  font-size: 1.6rem;
  top: 3rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.sabbath {
  position: absolute;
  width: 17rem;
  top: 10rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sabbath:hover {
  width: 17.3rem;
}

.desc-sabbath {
  position: absolute;
  top: 28rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}
